.container
  .ml-auto.mr-auto.mt-5.text-center.card style="width: 30rem;min-height: 30rem;"
    .card-header
      h2
        | Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        br
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  characters minimum)
        br
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions.mt-4
        = f.submit "Sign up"
    .card-footer.mt-auto
      = render "devise/shared/links"
