.container
  .ml-auto.mr-auto.mt-5.text-center.card style="width: 30rem;min-height: 30rem;"
    .card-header
      h2
        | Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        br
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
      .field
        br
        = f.password_field :password, autocomplete: "current-password", placeholder: 'Password'
      - if devise_mapping.rememberable?
        .field.mt-3
          = f.check_box :remember_me
          = f.label :remember_me
      .actions.mt-auto
        = f.submit "Log in"
    .card-footer.mt-auto
      = render "devise/shared/links"
