<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<%= link_to "Home", root_path, class: 'navbar-brand' %>
		<ul class="nav navbar-nav ml-auto">
			<% if user_signed_in? %>
			  <div class="mr-5"><strong><%= link_to current_user.email, user_path(current_user) %></strong></div>
			  <li class="nav-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | </li> 
			  <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
			<% else %>
			  <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> | </li>
			  <li class="nav-item"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
			<% end %>
		</ul>
	</nav>

	<% if notice %>
  	  <p class="alert alert-info"><%= notice %></p>
  	<% end %>
  	<% if alert %>
  	  <p class="alert alert-danger"><%= alert %></p>
  	<% end %>

    <%= yield %>
  </body>
</html>
